div#container ul.my-songs li{
    color:brown;
    background:yellow;
}
/* HOW TO CALCULATE SPECIFICITY 
   inline style attribbute > id > class > element */
/* 0,1,1,3 = 113 specificity */


div#container ul.my-songs li.favourite{
    color:yellow;
    background:brown;
}
/* specificity for favorite:
0,0,1,0 = 10 specificity for only favvourite
new: 0,1,2,3 = 123 specificity
*/

